<Configuration status="error" name="glmc" packages="">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="LogFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger level="debug" name="Main">
            <AppenderRef ref="LogFile"/>
        </Logger>

        <Logger level="debug" name="AccountContentController">
            <AppenderRef ref="LogFile"/>
        </Logger>

        <Logger level="debug" name="DBManager">
            <AppenderRef ref="LogFile"/>
        </Logger>
    </Loggers>
</Configuration>
