
.root {
    -fx-container-color: #404040;
    -fx-eoi-color: #3D4FAD;
    -fx-black-color: #1A1A1A;
}

.background-region {
    -fx-background-color: #333333;
}

.left-region {
    -fx-background-color: -fx-container-color;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-black-color;
    -fx-border-radius: 10px;

    -fx-background-insets: 10px;
    -fx-border-insets: 10px;
}

.notification-button {
    -fx-shape: "M20.978,62.685H34.989a7,7,0,0,1-.525,2.726,7.122,7.122,0,0,1-5.044,4.137,6.256,6.256,0,0,1-1.4.136A7.054,7.054,0,0,1,20.978,62.685ZM2.48,59.733A2.477,2.477,0,0,1,.725,55.5l4.26-4.261a6.891,6.891,0,0,0,2.02-4.869V31.711c0-10.794,5.711-21.69,15.759-24.079V5.255A5.25,5.25,0,0,1,28.359.01a5.373,5.373,0,0,1,4.914,5.42v2.2c10.017,2.39,15.766,13.325,15.766,24.079V46.375a6.884,6.884,0,0,0,2.013,4.869L55.319,55.5a2.477,2.477,0,0,1-1.754,4.228Z";
    -fx-background-color: -fx-black-color;
}

.notification-button:hover,.settings-button:hover {
    -fx-background-color: -fx-eoi-color;
}
.notification-button:pressed,.settings-button:pressed {
    -fx-background-color: #999999;
}

.settings-button {
    -fx-shape: "M3.035,21.434a11.251,11.251,0,0,0,1.006,2.389L2.827,25.355a1.257,1.257,0,0,0,.094,1.666l2.092,2.092a1.252,1.252,0,0,0,1.666.094L8.2,28a11.058,11.058,0,0,0,2.484,1.051l.228,1.958a1.254,1.254,0,0,0,1.244,1.11h2.96a1.254,1.254,0,0,0,1.244-1.11l.218-1.889a11.185,11.185,0,0,0,2.662-1.076l1.472,1.165a1.257,1.257,0,0,0,1.666-.094l2.092-2.092a1.252,1.252,0,0,0,.094-1.666L23.42,23.907a10.925,10.925,0,0,0,1.1-2.618l1.765-.2a1.254,1.254,0,0,0,1.11-1.244v-2.96a1.254,1.254,0,0,0-1.11-1.244l-1.74-.2a11,11,0,0,0-1.051-2.588l1.071-1.353a1.257,1.257,0,0,0-.094-1.666L22.379,7.741a1.252,1.252,0,0,0-1.666-.094L19.4,8.688a11.033,11.033,0,0,0-2.722-1.14l-.2-1.7a1.254,1.254,0,0,0-1.244-1.11h-2.96a1.254,1.254,0,0,0-1.244,1.11l-.2,1.7a10.987,10.987,0,0,0-2.791,1.18L6.679,7.647a1.257,1.257,0,0,0-1.666.094L2.921,9.833A1.252,1.252,0,0,0,2.827,11.5l1.14,1.443a10.784,10.784,0,0,0-1.031,2.613l-1.824.208A1.254,1.254,0,0,0,0,17.007v2.96a1.254,1.254,0,0,0,1.11,1.244Zm10.723-8.006A4.893,4.893,0,1,1,8.865,18.32,4.9,4.9,0,0,1,13.758,13.427Z";
    -fx-background-color: -fx-black-color;
}