.scroll-pane, .top-account-region, .vbox-items, .rootBorderPane {
    -fx-background-color: #404040;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #404040;
}

.scroll-pane .scroll-bar:vertical .increment-button:hover,
.scroll-pane .scroll-bar:vertical .decrement-button:hover,
.selection-action-region {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 15px;
    -fx-scale-x: 70%;
}

/* CSS for all radio button (Toots, Followers, Followings) */
.account-selection-radio-button {
    -fx-text-fill: #999999;
    -fx-padding: 0 0 15px 0;
}

.account-selection-radio-button:hover {
    -fx-text-fill: #CCCCCC;
}

.account-selection-radio-button:selected {
    -fx-text-fill: #3D4FAD;
}

.account-selection-radio-button .radio {
    -fx-background-color: none;
    -fx-border-color: none;
}

.account-selection-radio-button:selected .dot {
    -fx-shape: "M 50,5 95,97.5 5,97.5 z"; /* Triangle */
    -fx-translate-y: 18px;
    -fx-scale-x: 170%;
    -fx-scale-y: 110%;
    -fx-background-color: #3D4FAD;
    -fx-border-color: none;
}

/* CSS for the Follow/Unfollow button */
.action-relation-button {
    -fx-background-color: #3D4FAD;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;

    -fx-border-color: #2c3f9a;
    -fx-border-radius: 5px;
    -fx-border-insets: 0;

    -fx-text-fill: #FFFFFF;
}

.action-relation-button:hover {
    -fx-background-color: #4F66E0;
}

.action-relation-button:pressed {
    -fx-background-color: #4d599a;
    -fx-text-fill: #AAAAAA;
}