.follow-button, .unfollow-account {
    -fx-background-color: none;

    -fx-border-color: #1A1A1A;
    -fx-border-width: 3px;
}

.follow-button:hover, .unfollow-account:hover {
    -fx-border-color: #3D4FAD;
}

.follow-button:pressed, .unfollow-account:pressed {
    -fx-border-color: #666666;
}

.follow-button {
    -fx-shape: "M19,8a1,1,0,0,1-1-1V6H17a1,1,0,0,1,0-2h1V3a1,1,0,0,1,2,0V4h1a1,1,0,0,1,0,2H20V7A1,1,0,0,1,19,8Z M14.9,12.55A6,6,0,0,0,17,8.5a4.5,4.5,0,0,1-2.47-4,4.45,4.45,0,0,1,.19-1.22A6,6,0,0,0,7.1,12.55,8,8,0,0,0,2,20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2A8,8,0,0,0,14.9,12.55Z";
}

.unfollow-account {
    -fx-shape: "M21,6H17a1,1,0,0,1,0-2h4a1,1,0,0,1,0,2Z M16.48,13.35A6.86,6.86,0,0,0,18,8.88,4.49,4.49,0,0,1,14.5,4.5a4.62,4.62,0,0,1,.24-1.4,6.8,6.8,0,0,0-2.9-1.05A7,7,0,0,0,4,9a7.23,7.23,0,0,0,1.5,4.39A8,8,0,0,0,2,20a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2A8.1,8.1,0,0,0,16.48,13.35Z";
}