.root {
    -fx-container-color: #404040;
    -fx-eoi-color: #3D4FAD;
    -fx-black-color: #1A1A1A;
}

.account-box:hover {
    -fx-background-color: #373737;
}

.account-box {
    -fx-background-color: -fx-container-color;
    -fx-background-radius: 5px;
}

.account-box-new {
    -fx-background-color: #373737;
    -fx-background-radius: 5px;
}

.scroll-pane, .scroll-pane .scroll-bar:vertical {
    -fx-background-color: -fx-container-color;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-button:hover,
.scroll-pane .scroll-bar:vertical .decrement-button:hover,
.background-region {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 15px;
    -fx-scale-x: 70%;
}

.text-field, .button {
    -fx-background-color: -fx-container-color;
    -fx-background-radius: 5px;
    -fx-border-color: -fx-black-color;
    -fx-border-radius: 5px;

    -fx-background-insets: 0px;
    -fx-border-insets: 0px;
    -fx-text-fill: white;
}

.button:disabled {
    -fx-background-color: -fx-container-color;
    -fx-text-fill: #b2b2b2;
}

.button {
    -fx-background-color: -fx-eoi-color;
}

.button:hover {
    -fx-background-color: #4F66E0;
}