
/* Define some useful color */
.root {
    -fx-container-color: #404040;
    -fx-eoi-color: #3D4FAD;
    -fx-black-color: #1A1A1A;
    -fx-text-color: #999999;
    -fx-white-color: #CCCCCC;
}

.background-region {
    -fx-background-color: #333333;
}

.content-region {
    -fx-background-color: -fx-container-color;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-black-color;
    -fx-border-radius: 10px;

    -fx-background-insets: 10px;
    -fx-border-insets: 10px;
}

.menu-separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-eoi-color;
}

.text-field {
    -fx-background-color: #303030;
    -fx-background-radius: 5px;
    -fx-border-color: #303030;
    -fx-border-radius: 5px;

    -fx-background-insets: 10px;
    -fx-border-insets: 10px;
    -fx-text-fill: white;
}

/* Menu button */
.window-menu-radio-button {
    -fx-text-fill: -fx-text-color;
}

.window-menu-radio-button:hover {
    -fx-text-fill: -fx-white-color;
}

.window-menu-radio-button:selected {
    -fx-text-fill: -fx-eoi-color;
}

.window-menu-radio-button .radio {
    -fx-background-color: none;
    -fx-border-color: -fx-text-color;
    -fx-scale-y: 95%;
}

.window-menu-radio-button:hover .radio {
    -fx-border-color: -fx-white-color;
}

.window-menu-radio-button:selected .radio {
    -fx-border-color: -fx-eoi-color;
}

.window-menu-radio-button:selected .dot {
    -fx-background-color: -fx-eoi-color;
    -fx-background-insets: -17px 41px -17px -36px;
    -fx-background-radius: 0px;
}

.home-radio-button .radio {
    -fx-shape: "M31.772 16.043l-15.012-15.724c-0.189-0.197-0.449-0.307-0.721-0.307s-0.533 0.111-0.722 0.307l-15.089 15.724c-0.383 0.398-0.369 1.031 0.029 1.414 0.399 0.382 1.031 0.371 1.414-0.029l1.344-1.401v14.963c0 0.552 0.448 1 1 1h6.986c0.551 0 0.998-0.445 1-0.997l0.031-9.989h7.969v9.986c0 0.552 0.448 1 1 1h6.983c0.552 0 1-0.448 1-1v-14.968l1.343 1.407c0.197 0.204 0.459 0.308 0.722 0.308 0.249 0 0.499-0.092 0.692-0.279 0.398-0.382 0.411-1.015 0.029-1.413zM26.985 14.213v15.776h-4.983v-9.986c0-0.552-0.448-1-1-1h-9.965c-0.551 0-0.998 0.445-1 0.997l-0.031 9.989h-4.989v-15.777c0-0.082-0.013-0.162-0.032-0.239l11.055-11.52 10.982 11.507c-0.021 0.081-0.036 0.165-0.036 0.252z";
}

.toot-visibility-public .box, .global-radio-button .radio {
    -fx-shape: "M16 2.672c-0.004 0-0.007 0-0.011 0-0.002 0-0.003 0-0.005 0-0.005 0-0.010 0.001-0.016 0.001-7.347 0.017-13.296 5.977-13.296 13.327 0 7.348 5.949 13.309 13.296 13.327 0.005 0 0.010 0.001 0.016 0.001 0.002 0 0.004 0 0.005 0 0.004 0 0.008 0 0.011 0 7.36 0 13.328-5.968 13.328-13.328s-5.968-13.328-13.328-13.328zM16.533 10.648c1.413-0.039 2.788-0.225 4.112-0.548 0.399 1.571 0.647 3.382 0.686 5.367h-4.798v-4.819zM16.533 9.582v-5.759c1.437 0.398 2.893 2.314 3.821 5.252-1.231 0.297-2.509 0.47-3.821 0.507zM15.467 3.81v5.772c-1.323-0.037-2.611-0.213-3.852-0.515 0.936-2.956 2.405-4.879 3.852-5.256zM15.467 10.647v4.82h-4.831c0.039-1.988 0.287-3.801 0.687-5.373 1.334 0.326 2.72 0.515 4.144 0.553zM9.563 15.467h-5.811c0.118-2.741 1.139-5.252 2.773-7.241 1.187 0.654 2.446 1.189 3.766 1.589-0.431 1.7-0.689 3.617-0.728 5.652zM9.563 16.533c0.039 2.034 0.297 3.951 0.728 5.651-1.319 0.401-2.579 0.936-3.766 1.59-1.635-1.989-2.656-4.5-2.773-7.241h5.811zM10.636 16.533h4.831v4.814c-1.424 0.038-2.81 0.228-4.145 0.555-0.399-1.571-0.647-3.383-0.686-5.369zM15.467 22.412v5.778c-1.448-0.378-2.919-2.303-3.854-5.263 1.241-0.302 2.53-0.478 3.854-0.515zM16.533 28.178v-5.765c1.313 0.038 2.591 0.211 3.822 0.508-0.928 2.941-2.384 4.86-3.822 5.257zM16.533 21.347v-4.814h4.798c-0.039 1.983-0.286 3.791-0.684 5.361-1.325-0.323-2.7-0.51-4.113-0.548zM22.404 16.533h5.845c-0.118 2.741-1.138 5.251-2.773 7.24-1.197-0.658-2.467-1.197-3.797-1.599 0.43-1.698 0.687-3.611 0.726-5.64zM22.404 15.467c-0.039-2.033-0.297-3.946-0.727-5.646 1.33-0.402 2.599-0.94 3.795-1.598 1.636 1.989 2.658 4.501 2.776 7.244h-5.845zM24.738 7.409c-1.061 0.564-2.18 1.031-3.35 1.385-0.623-2.005-1.498-3.642-2.533-4.717 2.27 0.545 4.297 1.719 5.883 3.332zM13.103 4.087c-1.029 1.073-1.9 2.702-2.521 4.697-1.158-0.353-2.268-0.815-3.319-1.375 1.575-1.602 3.587-2.774 5.84-3.322zM7.259 24.587c1.052-0.561 2.163-1.024 3.322-1.377 0.621 1.997 1.492 3.629 2.522 4.702-2.255-0.549-4.268-1.721-5.844-3.326zM18.855 27.922c1.036-1.075 1.911-2.712 2.535-4.721 1.17 0.355 2.29 0.82 3.351 1.387-1.586 1.614-3.614 2.791-5.886 3.334z";
}

.local-radio-button .radio {
    -fx-shape: "M26.32,11.59,26,11.5a1.35,1.35,0,0,1-.43-.16,5.4,5.4,0,0,0,1.21-4V6.77a3.77,3.77,0,1,0-7.54,0v.52a5.4,5.4,0,0,0,1.21,4.05l-.11.06a5.09,5.09,0,0,0-8.64,0l-.11-.06a5.4,5.4,0,0,0,1.21-4V6.77A3.83,3.83,0,0,0,9,3,3.83,3.83,0,0,0,5.23,6.77v.52a5.4,5.4,0,0,0,1.21,4.05A1.35,1.35,0,0,1,6,11.5l-.32.09C3.85,12.2,2,13.91,2,16a1,1,0,0,0,2,0c0-1.09,1.18-2.13,2.32-2.51a1.05,1.05,0,0,1,.21-.06,2.75,2.75,0,0,0,1.54-.93,2.78,2.78,0,0,0,1.86,0,2.25,2.25,0,0,0,1,.75,5.49,5.49,0,0,0-.09.9c0,.27,0,.53,0,.79,0,1.88-.05,3.83,1.88,6-.09.55-.4.64-1.09.83l-.45.13C8.61,22.72,6,25.1,6,28a1,1,0,0,0,2,0c0-1.86,1.94-3.62,3.82-4.24a2.75,2.75,0,0,1,.34-.1,3.33,3.33,0,0,0,2.21-1.5,4.19,4.19,0,0,0,3.26,0,3.33,3.33,0,0,0,2.21,1.5,2.75,2.75,0,0,1,.34.1C22.06,24.38,24,26.14,24,28a1,1,0,0,0,2,0c0-2.9-2.61-5.28-5.18-6.14l-.45-.13c-.69-.19-1-.28-1.09-.83,1.93-2.13,1.92-4.08,1.88-6,0-.26,0-.52,0-.79a5.49,5.49,0,0,0-.09-.9,2.25,2.25,0,0,0,1-.75,2.78,2.78,0,0,0,1.86,0,2.75,2.75,0,0,0,1.54.93,1.05,1.05,0,0,1,.21.06C26.82,13.87,28,14.91,28,16a1,1,0,0,0,2,0C30,13.91,28.15,12.2,26.32,11.59ZM8.21,10.33a3.35,3.35,0,0,1-1-3c0-.19,0-.37,0-.56A1.82,1.82,0,0,1,9,5a1.82,1.82,0,0,1,1.77,1.77c0,.19,0,.37,0,.56a3.35,3.35,0,0,1-1,3h0A1.15,1.15,0,0,1,8.21,10.33Zm6.25,9.52c-1.68-1.68-1.66-3-1.62-4.87,0-.27,0-.55,0-.83a3.15,3.15,0,1,1,6.3,0c0,.28,0,.56,0,.83,0,1.85.06,3.19-1.62,4.87A2.24,2.24,0,0,1,14.46,19.85Zm7.75-9.52a3.35,3.35,0,0,1-1-3c0-.19,0-.37,0-.56a1.77,1.77,0,1,1,3.54,0c0,.19,0,.37,0,.56a3.35,3.35,0,0,1-1,3h0A1.15,1.15,0,0,1,22.21,10.33Z";
}

.trending-radio-button .radio {
    -fx-shape: "M327.08,180.984H192.677L161.05,309.958h133.984L327.08,180.984z M180.58,294.646l24.12-98.35h102.791l-24.419,98.35 H180.58z M60.517,490h72.241l32.763-133.386h102.492L235.639,490h72.211l32.763-133.386h117.625v-61.968H355.702l24.434-98.35h78.103v-61.968h-63.044L427.957,0h-72.615l-32.763,134.328H219.728L252.492,0h-72.256l-32.748,134.328H31.762v61.968h100.683l-24.12,98.35H31.762v61.968h61.519L60.517,490z M47.074,341.301v-31.343h73.273l31.627-128.975h-104.9v-31.343H159.51l32.748-134.328h40.734l-32.763,134.328h134.373l32.763-134.328h41.093l-32.763,134.328h67.231v31.343h-74.753l-32.061,128.975h106.814v31.343H328.621l-32.763,133.386h-40.749l32.375-133.386H153.529l-32.763,133.386H80.047l32.763-133.386H47.074z"
}

.message-radio-button .radio {
    -fx-shape: "M8 9.5H15M8 13.5H13M15.3 19.1L21 21L19.1 15.3C19.1 15.3 20 14 20 11.5C20 6.80558 16.1944 3 11.5 3C6.80558 3 3 6.80558 3 11.5C3 16.1944 6.80558 20 11.5 20C14.0847 20 15.3 19.1 15.3 19.1Z";
}

.favourites-radio-button .radio {
    -fx-shape: "m12 17.328-5.403 3.286a.75.75 0 0 1-1.12-.813l1.456-6.155-4.796-4.123a.75.75 0 0 1 .428-1.316l6.303-.517 2.44-5.835a.75.75 0 0 1 1.384 0l2.44 5.835 6.303.517a.75.75 0 0 1 .427 1.316l-4.795 4.123 1.456 6.155a.75.75 0 0 1-1.12.813L12 17.328z";
}

.bookmarks-radio-button .radio {
    -fx-shape: "M1585.963 1920 960.48 1544.711 335 1920V170.586C335 76.536 411.536 0 505.586 0h909.79c94.05 0 170.587 76.536 170.587 170.586V1920Z";
    -fx-scale-y: 110%;
    -fx-scale-x: 75%;
}

.bookmarks-radio-button:selected .dot {
    -fx-background-insets: -14px 53px -14px -50px;
}

.lists-radio-button .radio {
    -fx-shape: "M6.562,8.062h-2a1.5,1.5,0,0,1-1.5-1.5v-2a1.5,1.5,0,0,1,1.5-1.5h2a1.5,1.5,0,0,1,1.5,1.5v2A1.5,1.5,0,0,1,6.562,8.062Zm-2-4a.5.5,0,0,0-.5.5v2a.5.5,0,0,0,.5.5h2a.5.5,0,0,0,.5-.5v-2a.5.5,0,0,0-.5-.5Z M6.562,20.938h-2a1.5,1.5,0,0,1-1.5-1.5v-2a1.5,1.5,0,0,1,1.5-1.5h2a1.5,1.5,0,0,1,1.5,1.5v2A1.5,1.5,0,0,1,6.562,20.938Zm-2-4a.5.5,0,0,0-.5.5v2a.5.5,0,0,0,.5.5h2a.5.5,0,0,0,.5-.5v-2a.5.5,0,0,0-.5-.5Z M6.562,14.5h-2a1.5,1.5,0,0,1-1.5-1.5V11a1.5,1.5,0,0,1,1.5-1.5h2a1.5,1.5,0,0,1,1.5,1.5v2A1.5,1.5,0,0,1,6.562,14.5Zm-2-4a.5.5,0,0,0-.5.5v2a.5.5,0,0,0,.5.5h2a.5.5,0,0,0,.5-.5V11a.5.5,0,0,0-.5-.5Z M20.438,6.062h-9a.5.5,0,0,1,0-1h9a.5.5,0,0,1,0,1Z M20.438,12.5h-9a.5.5,0,0,1,0-1h9a.5.5,0,0,1,0,1Z M20.438,18.935h-9a.5.5,0,1,1,0-1h9a.5.5,0,0,1,0,1Z";
}


/* Search button inside the TextField */
.search-button {
    -fx-shape: "M10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15C11.381 15 12.6296 14.4415 13.5355 13.5355C14.4415 12.6296 15 11.381 15 10C15 7.23858 12.7614 5 10 5ZM3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5719 16.481 13.0239 15.6063 14.1921L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L14.1921 15.6063C13.0239 16.481 11.5719 17 10 17C6.13401 17 3 13.866 3 10Z";
    -fx-background-color: none;
    -fx-border-color: -fx-black-color;
    -fx-border-width: 3px;
    -fx-scale-y: 80%;
}

.settings-button {
    -fx-shape: "M3.035,21.434a11.251,11.251,0,0,0,1.006,2.389L2.827,25.355a1.257,1.257,0,0,0,.094,1.666l2.092,2.092a1.252,1.252,0,0,0,1.666.094L8.2,28a11.058,11.058,0,0,0,2.484,1.051l.228,1.958a1.254,1.254,0,0,0,1.244,1.11h2.96a1.254,1.254,0,0,0,1.244-1.11l.218-1.889a11.185,11.185,0,0,0,2.662-1.076l1.472,1.165a1.257,1.257,0,0,0,1.666-.094l2.092-2.092a1.252,1.252,0,0,0,.094-1.666L23.42,23.907a10.925,10.925,0,0,0,1.1-2.618l1.765-.2a1.254,1.254,0,0,0,1.11-1.244v-2.96a1.254,1.254,0,0,0-1.11-1.244l-1.74-.2a11,11,0,0,0-1.051-2.588l1.071-1.353a1.257,1.257,0,0,0-.094-1.666L22.379,7.741a1.252,1.252,0,0,0-1.666-.094L19.4,8.688a11.033,11.033,0,0,0-2.722-1.14l-.2-1.7a1.254,1.254,0,0,0-1.244-1.11h-2.96a1.254,1.254,0,0,0-1.244,1.11l-.2,1.7a10.987,10.987,0,0,0-2.791,1.18L6.679,7.647a1.257,1.257,0,0,0-1.666.094L2.921,9.833A1.252,1.252,0,0,0,2.827,11.5l1.14,1.443a10.784,10.784,0,0,0-1.031,2.613l-1.824.208A1.254,1.254,0,0,0,0,17.007v2.96a1.254,1.254,0,0,0,1.11,1.244Zm10.723-8.006A4.893,4.893,0,1,1,8.865,18.32,4.9,4.9,0,0,1,13.758,13.427Z";
    -fx-background-color: none;
    -fx-border-color: -fx-black-color;
    -fx-border-width: 2px;
}

/* Notification and settings button at the top left of the UI */
.notification-button {
    -fx-shape: "M20.978,62.685H34.989a7,7,0,0,1-.525,2.726,7.122,7.122,0,0,1-5.044,4.137,6.256,6.256,0,0,1-1.4.136A7.054,7.054,0,0,1,20.978,62.685ZM2.48,59.733A2.477,2.477,0,0,1,.725,55.5l4.26-4.261a6.891,6.891,0,0,0,2.02-4.869V31.711c0-10.794,5.711-21.69,15.759-24.079V5.255A5.25,5.25,0,0,1,28.359.01a5.373,5.373,0,0,1,4.914,5.42v2.2c10.017,2.39,15.766,13.325,15.766,24.079V46.375a6.884,6.884,0,0,0,2.013,4.869L55.319,55.5a2.477,2.477,0,0,1-1.754,4.228Z";
    -fx-background-color: none;
    -fx-border-color: -fx-black-color;
    -fx-border-width: 2px;
}

.notification-button:hover,.settings-button:hover,.search-button:hover {
    -fx-border-color: -fx-eoi-color;
}
.notification-button:pressed,.settings-button:pressed, .search-button:pressed {
    -fx-border-color: -fx-text-color;
}

/*
* Scroll pane and scroll bar/button styling
 */
.scroll-pane, .top-account-region, .vbox-items, .rootBorderPane {
    -fx-background-color: #404040;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #404040;
}

.scroll-pane .scroll-bar:vertical .increment-button:hover,
.scroll-pane .scroll-bar:vertical .decrement-button:hover,
.selection-action-region {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #333333;
    -fx-background-radius: 15px;
    -fx-scale-x: 70%;
}

/*
* Style for send toot region and button
 */
.send-toot-region {
    -fx-background-color: -fx-container-color;
}

.send-toot-button {
    -fx-shape: "M0,0l512,256L0,512V0z M0,204.8v102.4L256,256L0,204.8z";
    -fx-border-color: none;
    -fx-background-color: -fx-eoi-color;
    -fx-scale-y: 80%;
    -fx-scale-x: 120%;
}

.send-toot-button:hover {
    -fx-background-color: #458cdc;
}

.send-toot-button:pressed {
    -fx-background-color: -fx-text-color;
}

.send-toot-checkbox {
    -fx-padding: 5;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
}

.send-toot-checkbox:hover {
    -fx-background-color: #4D4D4D;
}

.send-toot-checkbox:selected .box {
    -fx-background-color: -fx-eoi-color;
}

.send-toot-checkbox .box, .toot-visibility-public:selected .box {
    -fx-background-color: -fx-text-color;
}

.send-toot-checkbox .mark {
    -fx-opacity: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

.send-toot-cw .box {
    -fx-shape: "M108.186,144.372c0,7.054-4.729,12.32-12.037,12.32h-0.254c-7.054,0-11.92-5.266-11.92-12.32c0-7.298,5.012-12.31,12.174-12.31C103.311,132.062,108.059,137.054,108.186,144.372z M88.44,125.301h15.447l2.951-61.298H85.46L88.44,125.301z M190.372,177.034c-2.237,3.664-6.214,5.921-10.493,5.921H12.282c-4.426,0-8.51-2.384-10.698-6.233c-2.159-3.849-2.11-8.549,0.147-12.349l84.111-149.22c2.208-3.722,6.204-5.96,10.522-5.96h0.332c4.445,0.107,8.441,2.618,10.513,6.546l83.515,149.229C192.717,168.768,192.629,173.331,190.372,177.034z M179.879,170.634L96.354,21.454L12.292,170.634H179.879z";
}

.toot-visibility-direct .box {
    -fx-shape: "M46.4,63.92a35.1,35.1,0,0,0,.34,9.16,10,10,0,0,0,2.62,5.48,6.61,6.61,0,0,0,4.78,1.81,7.44,7.44,0,0,0,3.14-.88A10.57,10.57,0,0,0,61,75.81a19.82,19.82,0,0,0,2.3-5.07l2.5-29.08a16.5,16.5,0,0,0-3.38-.35A13,13,0,0,0,53.94,44a16.89,16.89,0,0,0-5,7.67,56.76,56.76,0,0,0-2.55,12.3ZM65.57,85.85a21.54,21.54,0,0,1-3.47,3.59A20.88,20.88,0,0,1,48.52,94a17.75,17.75,0,0,1-11.17-3.7,21.8,21.8,0,0,1-7.08-10.49,38.29,38.29,0,0,1-1.45-15.89,54.16,54.16,0,0,1,5.83-19.27A34.64,34.64,0,0,1,45.84,32,26.88,26.88,0,0,1,61,27.5q8,0,12.5,2.24a90.13,90.13,0,0,1,8.71,5L78.87,74a10.33,10.33,0,0,0,0,3.75,5,5,0,0,0,1.27,2.37,4.78,4.78,0,0,0,2.07,1.26,8.26,8.26,0,0,0,9-2.91,24.65,24.65,0,0,0,4.58-8.94,47.2,47.2,0,0,0,2-12.72q.64-13.14-3.32-23.2a32.2,32.2,0,0,0-12.73-15.7Q73,12.22,59.17,12.23q-13.31,0-22.83,6.77A45,45,0,0,0,21.45,37.25a69,69,0,0,0-6,25.68,66.26,66.26,0,0,0,1.89,20.53,35.45,35.45,0,0,0,7.5,14.37,31,31,0,0,0,12.72,8.46A50.83,50.83,0,0,0,55,109.07a58.88,58.88,0,0,0,11.73-1.22A59.39,59.39,0,0,0,76.88,105l2.58,12a34.27,34.27,0,0,1-11.6,4.44,63.74,63.74,0,0,1-13.13,1.45q-17.91,0-30.4-6.63a42.56,42.56,0,0,1-18.75-20Q-.65,82.95.08,62.93A79.48,79.48,0,0,1,5,37.93a62.41,62.41,0,0,1,12.07-20A53.6,53.6,0,0,1,35.5,4.72,58.79,58.79,0,0,1,59.42,0q17.4,0,29.35,7.11a44.29,44.29,0,0,1,17.9,19.72q5.88,12.62,5.19,29.15A63.42,63.42,0,0,1,109.76,70a41.49,41.49,0,0,1-5.44,12.32,27.89,27.89,0,0,1-9.23,8.73,26.68,26.68,0,0,1-13.45,3.25,18.56,18.56,0,0,1-13.76-5.51,16.18,16.18,0,0,1-2.31-3Z";
}

.text-area, .text-area .content, .text-area .scroll-pane {
    -fx-background-color: #303030;
    -fx-border-color: #303030;
}

.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #666666;
    -fx-background-radius: 2px;
    -fx-scale-y: 120%;
    -fx-background-insets: 0px 0 0px 9;
}

.text-area .scroll-pane .scroll-bar:vertical .increment-button,
.text-area .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
}

.text-area .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;

    -fx-background-insets: 0px;
    -fx-border-insets: 0px;
    -fx-text-fill: white;
}
